@tailwind base;
@tailwind components;
@tailwind utilities;

.ext-highlight {
  background-color: yellow;
}

.ext-flash-focus {
  animation: ext-flash-focus 2s ease-in-out;
}

@keyframes ext-flash-focus {
  0%,
  100% {
    outline: 2px solid transparent;
  }
  50% {
    outline: 2px solid #007bff;
  }
}
